<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANCEGRI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
</head>
<body>
    <header>
        <div class="header__container">
            <h1 id="title__principal" class="header__title">ANCEGRI</h1>
            <nav id="navigation__principal" class="header__navigation">
                <a class="navigation__link" href="#">Nosotros</a>
                <a class="navigation__link" href="#lineas-de-negocio">Lineas de negocio</a>
                <a class="navigation__link" href="#modelo">Modelo</a>
                <a class="navigation__link" href="#contacto">Contacto</a>
            </nav>
        </div>
    </header>
    {% block body%}
    {% endblock %}
    <script src="{{ url_for('static', filename = 'js/slide.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
</body>
</html>